<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <title>Marriott's Web Assignment Solution</title>
    <link type="text/css" href="../css/styles.css">
</head>
<body>
    <h1>Marriott's Web Assignment Solution</h1>
    <h3>Links:</h3>
    <a href="ex1.html">Exercise 1 - Order - Process a Form</a> <br>
    <a href="ex2.html">Exercise 2 - Send JSON to API</a> <br>
    <a href="ex3.html">Exercise 3 - Articles - Process a form</a> <br>


  
    

</body>
</html>